*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.sobuj{
    width: 400px;
    height: 200px;
    background-color: green;
    position: relative;
}
.lal{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 130px;
    top: 20px;
}
.sobuj:hover{
    background-color: white;
}